@use "variable" as *;

$padding-outer: 1rem;

.drawer-content-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item-title {
    display: block;
    padding-inline-start: $padding-outer;
    padding-block: $padding-outer;
    border-bottom: $border-size solid $white-color;

    &--not-first {
      border-top: $border-size solid $white-color;
    }
  }
}

.drawer-content-subcontent-list {
  padding-block: $padding-outer;
  padding-inline-start: $padding-outer * 2;
  margin: 0;
  list-style: none;

  li {
    padding: .5rem;
  }
}

.drawer-content-link {
  text-decoration: none;
  color: $white-color;

  &:hover {
    text-decoration: underline;
  }
}
