@use "variable" as *;

.drawer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

$drawer-width: 240px;

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $drawer-width;
  background-color: $drawer-color;
  color: $white-color;
  transition: left $fast-timing $transition-function;

  &--close {
    left: -$drawer-width;
  }
}

.drawer-content-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (min-width: 602px) {
  .drawer-spacer {
    width: $drawer-width;
    transition: width $fast-timing $transition-function;

    &--close {
      width: 0;
    }
  }
}
