@use "variable" as *;

.primary-header {
  display: grid;
  place-items: center;
  padding-block: 1.3rem;
  background-color: $primary-color;
}

.timespan {
  display: none;

  &> span {
    font-size: 1.4rem;
    color: white;
  }
}

@media (min-width: 920px) {
  .primary-header {
    grid-auto-flow: column;
    place-content: center space-between;
    padding-inline: 3rem;
  }

  .timespan {
    display: block;
  }
}
