@use 'variable' as *;

.nav {
  display: grid;
  place-items: center;
  padding-block: 0.8rem;
  padding-inline: 1.3rem;
  background-color: $nav-color;
}

.nav-list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  place-content: end space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-icon {
  width: 2.6rem;
  height: 2.6rem;
  color: $white-color;
}

$hardcoded-left-value: -50px;
$padding-item: 1rem;
$padding-inline: 3rem;

.nav-setting-list {
  display: none;
  height: 100%;

  &--dropdown {
    position: absolute;
    top: 0;
    left: calc($hardcoded-left-value - $padding-item - $padding-inline - 2rem);
    display: block;
    height: auto;
    padding-inline: $padding-inline;
    padding-block: 1rem;
    border-radius: $border-radius;
    background-color: $nav-color;
    list-style: none;

    .nav-setting-item {
      padding: $padding-item;
    }
  }
}

.nav-setting-container  {
  position: relative;
  height: 100%;
}

.nav-setting-link {
  color: $white-color;
  text-decoration: none;
}

@media (min-width: 630px) {
  .nav-setting-button {
    display: none;
  }

  .nav-setting-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 920px) {
  .nav {
    padding-inline: $padding-fit-content;
  }
}
